.nav-container {
  width: 30vw;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}

.nav-list li:first-child {
  margin-right: 20px;
}

.nav-list li:last-child {
  text-align: center;
}

.nickname {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

.nav-icon1,
.nav-icon2 {
  color: #fff;
}

.nav-icon1:hover {
  color: #4FA4F7;
}

.nav-icon2:hover {
  color: #f7d54f;
}