.n_f-container {
  width: 30vw;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

#n_f-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.n_f-input {
  border: 0;
  border-bottom: 2px solid #4FA4F7;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.n_f-file {
  margin-top: 10px;
  color: white;
}

.btn {
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  margin-top: 10px;
}

.n_f-btn {
  width: 30vw;
  background-color: #2679F2;
  align-self: center;
}

.n_f-btn:hover {
  background-color: #4FA4F7;
}

.n_f-cancle {
  background-color: #da2222;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

img {
  border-radius: 50%;
  margin-bottom: 10px;
}