#profile-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 30px;
}

.profile-input {
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #4FA4F7;
  background-color: #000;
  color: #fff;
}

.btn {
  cursor: pointer;
}

.update-btn {
  width: 30vw;
  background-color: #2679F2;
}

.update-btn:hover {
  background-color: #4FA4F7;
}

.logout-btn {
  width: 30vw;
  margin-top: 20px;
  background-color: #da2222;
}

.logout-btn:hover {
  background-color: #f23737;
}